@page "/"

<h1>Welcome to the Weather Application!</h1>

<p>
	<br/>
	You can find the current weather of places across the globe from here.
</p>
<br/>
<br/>
<img src="/images/weatherworldmap.jpg"/>

@* <SurveyPrompt Title="How is Blazor working for you?" /> *@
